<form [formGroup]="formGroup">
  <div class="grid grid-cols-3 grid-rows-3 gap-2">
    <div>
      <div class="relative">
        <label
          for="first_name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nombre</label
        >
        <input
          type="text"
          id="first_name"
          formControlName="nombre"
          name="nombre"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Tu nombre"
          required
        />
      </div>
    </div>
    <div>
      <div class="relative">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Dirreccion</label
        >
        <input
          type="text"
          id="first_dirreccion"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Aldama de los Leones"
          required
        />
      </div>
    </div>
    <div>
      <div class="relative">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Numero de Telefono</label
        >
        <input
          type="number"
          id="first_numeroTel"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="54657575467"
          required
        />
      </div>
    </div>
    <div>
      <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">
        Tamaño de la Pizza
      </h3>
      <ul
        class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
      >
        <li
          class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600"
        >
          <div class="flex items-center ps-3">
            <input
              id="list-radio-license"
              formControlName="tamano"
              name="tamano"
              type="radio"
              value="Chica"
              name="list-radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
            <label
              for="list-radio-license"
              class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Chica $40</label
            >
          </div>
        </li>
        <li
          class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600"
        >
          <div class="flex items-center ps-3">
            <input
              id="list-radio-id"
              formControlName="tamano"
              name="tamano"
              type="radio"
              value="Mediana"
              name="list-radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
            <label
              for="list-radio-id"
              class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Mediana $80</label
            >
          </div>
        </li>
        <li
          class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600"
        >
          <div class="flex items-center ps-3">
            <input
              id="list-radio-military"
              formControlName="tamano"
              name="tamano"
              type="radio"
              value="Grande"
              name="list-radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
            <label
              for="list-radio-military"
              class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Grande $120</label
            >
          </div>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">
        Ingredientes
      </h3>
      <ul
        class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
        formArrayName="ingredientes"
      >
        <li
          class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600"
          *ngFor="let ing of pizzaService.ingredientesList; let i = index"
        >
          <div class="flex items-center ps-3">
            <input
              id="vue-checkbox"
              type="checkbox"
              [formControlName]="i"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
            <label
              for="vue-checkbox"
              class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ ing }} $10</label
            >
          </div>
        </li>
      </ul>
    </div>
    <div>
      <label
        for="small-input"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Numero de pizzas</label
      >
      <input
        name="numero"
        type="number"
        formControlName="numero"
        id="small-input"
        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      <button
        (click)="registrarPizza()"
        type="button"
        class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        Agregar
      </button>
    </div>
  </div>

  <div>
    <div class="relative overflow-x-auto">
      <table
        *ngIf="pizzas.length"
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Tamaño de la pizza</th>
            <th scope="col" class="px-6 py-3">Ingredientes</th>
            <th scope="col" class="px-6 py-3">Num. de pizzas</th>
            <th scope="col" class="px-6 py-3">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let pisa of pizzas"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ pisa.tamano }}
            </th>
            <td class="px-6 py-4">{{ pisa.ingredientes }}</td>
            <td class="px-6 py-4">{{ pisa.numero }}</td>
            <td class="px-6 py-4">{{ pisa.subtotal | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      (click)="imprimirTabla()"
      type="button"
      class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    >
      Imprimir
    </button>
    <button
      (click)="borrarPizza()"
      type="button"
      class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    >
      Quitar
    </button>
    <button
      (click)="finalizarPedido()"
      type="button"
      class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    >
      Terminar
    </button>
  </div>
  <div class="col-start-3">
    <a
      *ngFor="let nombre of pedidos | keyvalue"
      href="#"
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ nombre.key }} total:
        {{ pedidos[nombre.key] | currency }}
      </h5>
    </a>
    <a
      *ngIf="totalventasDia"
      href="#"
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{totalventasDia | currency}}
      </h5>
    </a>
        <button
        (click)="calcularVentasDelDia()"
          type="button"
          class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
        Ventas totales
        </button>
      
  </div>
</form>
